<div class="modal fade" id="addInvestmentModal" tabindex="-1" role="dialog" aria-labelledby="addInvestmentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="addInvestmentModalLabel">Add Investment</h3>
                <button type="button" class="close" onclick="$('#addInvestmentModal').modal('hide');" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="max-height: 66%; overflow-y: auto;">
                @await Html.PartialAsync("AddInvestment")
            </div>
        </div>
    </div>
</div>