<div class="modal fade" id="updateModal-@Model.Id" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel-@Model.Id" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="updateModalLabel-@Model.Id">Update Investment</h3>
                <button type="button" class="close" onclick="$('#updateModal-@Model.Id').modal('hide');" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="max-height: 40vh; overflow-y: auto;">
                @await Html.PartialAsync("UpdateInvestment", Model, ViewData)
            </div>
        </div>
    </div>
</div>